
a {
    color: #0088cc;
    text-decoration: none;
}

a:hover {
  color: #005580;
  text-decoration: underline;
}


.offscreen{
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);    /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
button:focus {
	outline: dotted 1px #000;
}



/* Base class */
.bs-docs-example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
